.adv {
	padding: 80px 0 60px;
	background-color: #f4f4f4;
}

.adv__blocks {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 60px;
}


.adv__item {
	flex-basis: 32%;
	margin-bottom: 20px;

	text-align: center;
	border: 2px solid #ffffff;
	padding: 40px 20px;
	transition: linear .2s;

	&:hover {
		box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
		background-color: #ffffff;
	}
}

.adv__img {
	margin-bottom: 40px;
}

.adv__title {
	margin-bottom: 20px;
	color: #292929;
	font-size: 15px;
	line-height: 1;
	font-weight: 700;
}

.adv__text {
	color: #292929;
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
}