.title {
	color: #292929;
	font-size: 20px;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.btn {
	display: inline-block;
	border: 0;
	background-color: #ffd200;
	text-align: center;
	padding: 20px 30px;
	color: #0d0d0d;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	transition: linear .2s;
}

.btn-mini {
	display: inline-block;
	background-color: #ffd200;
	text-align: center;
	padding: 20px 55px;
	color: #0d0d0d;
	border: none;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	transition: linear .2s;

	&:hover {
		background-color: #f0c818;
		color: #0d0d0d;
		text-decoration: none;
	}
}

.btn-link {
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	padding: 0;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	text-decoration: underline;
	transition: linear .2s;

	&:hover {
		color: #ffd200;
	}
}