.header {
	padding: 30px 0 60px;

	.logo__name-header {
		color: #000;

		span {
			color: #000;
		}
	}

	.top__phone {
		color: #000;
	}

	.top__desc {
		color: #000;
	}


}

.header__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}

.header__number {
	flex-basis: 60%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header__numb {
	text-align: right;
}

.header__btn {
	display: inline-block;
	color: #292929;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	background: transparent;
	padding: 15px 25px;
	border: 2px solid #292929;
	margin-left: 30px;
}

.header__nav {
	background-color: #ffcc00;
	padding: 25px 70px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -95px;

	ul {
		margin-bottom: 0;
		padding: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

.nav__close {
	display: none;
	font-size: 35px;
	line-height: 1;
	color: #fcdb5a;
	background: 0 0;
	border: none;
	position: absolute;
	right: 30px;
	top: 30px;

	&:hover {
		color: #fcdb5a;
	}
}

.header__link {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	margin: 0 10px;
	transition: linear .3s;

	&:hover {
		color: #fff;
	}
}




/* NAV TOGGLE */
.nav-toggle {
	display: none;
	width: 30px;
	padding: 10px 0;
	font-size: 0;
	color: transparent;
	border: 0;
	background: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	z-index: 1;
}


.nav-toggle:focus {
	outline: 0;
}

.nav-toggle__item {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fcdb5a;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	transition: linear .2s;
}

.nav-toggle.active .nav-toggle__item {
	background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
	content: "";
	width: 100%;
	height: 3px;
	background-color: #fcdb5a;
	position: absolute;
	left: 0;
	z-index: 1;
	transition: transform .2s linear;
}

.nav-toggle__item:before {
	top: -8px;
}

.nav-toggle__item:after {
	bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

/* NAV TOGGLE END*/