.head {
	background: linear-gradient(rgba(92, 91, 91, 0.8), rgba(0, 0, 0, 0.5)), url(../img/head/head-bg.jpg) center (center/cover) no-repeat;

	padding: 170px 0 140px;


	.head__title {
		color: #ffffff;
		font-size: 36px;
		line-height: 1;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	.head__text {
		margin-bottom: 65px;
		max-width: 240px;
		color: #ffffff;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
	}

	.head__btn {
		margin-right: 30px;
	}
}