.popular {
	padding: 80px 0 60px;
}

.popular__blocks {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 60px;
}


.popular__item {
	flex-basis: 23.5%;
	margin-bottom: 20px;

	display: flex;
	align-items: center;
	flex-direction: column;

	text-align: center;
	border: 2px solid #f6f6f6;
	padding: 20px 10px;
}

.popular__img {
	position: relative;
	max-width: 320px;
	margin: 0 auto 20px;
}

.popular__sale {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 55px;
	height: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ff0000;
	color: #ffffff;
	font-size: 10px;
	line-height: 1;
	font-weight: 500;
}

.popular__title {
	margin-bottom: 25px;
	color: #292929;
	font-size: 13px;
	line-height: 1;
	font-weight: 700;
	text-decoration: underline;
}

.price {
	display: flex;
	justify-content: center;
	margin-top: auto;
	margin-bottom: auto;
}

.popular__price-old {
	margin-right: 15px;
	color: #979797;
	font-size: 10px;
	line-height: 1;
	font-weight: 400;
	text-decoration: line-through;
}

.popular__price {
	color: #000000;
	font-size: 16px;
	line-height: 1;
	font-weight: 700;
}

.price-red {
	color: #ff0000;
}

.popular__btn {
	border: none;
	margin-top: 10px;
}